BasedOnStyle: GNU
MaxEmptyLinesToKeep: 10
SortIncludes: false
SpaceBeforeParens: ControlStatements
BraceWrapping:
  AfterFunction: true    
  AfterStruct: false     
  AfterEnum: false       
  AfterUnion: false      
  AfterControlStatement: false  
  AfterCaseLabel: true 
BreakBeforeBraces: Custom
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignOperands: true
PointerAlignment: Left
ColumnLimit: 120
